/* Estilos gerais do footer */
.footer {
    background-color: #0e1a64;
    color: #fff;
    padding: 40px 0;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-logo img {
    width: 150px;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .footer-links li {
    margin-right: 20px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #ffcc00;
  }
  
  .footer-social .social-icon {
    color: #fff;
    font-size: 24px;
    margin-right: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-social .social-icon:hover {
    color: #ffcc00;
  }
  
  /* Estilos do rodapé inferior */
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #000000;
  }
  
  .footer-bottom p {
    font-size: 14px;
  }

/*Carousel Imagens*/
  .img-carousel {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.carousel-image {
  object-position: center bottom; /* Ajusta a posição da imagem verticalmente */
  max-height: 700em; /* Define uma altura máxima para a imagem */
}

#carouselExample {
  max-width: 800px; /* Defina a largura máxima do carrossel */
  margin: 0 auto; /* Centralize o carrossel na página */
}

/* Estilos para controlar o tamanho do vídeo incorporado */
.embed-responsive-16by9 {
  padding-bottom: 56.25%; /* Proporção 16:9 */
}

/* Estilos para controlar o tamanho das imagens */
.carousel-image {
  max-width: 100%; /* Defina a largura máxima para a imagem */
  height: auto; /* Mantenha a proporção da imagem */
}

.embed-responsive-16by9 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-item{
  height: 30em;
}

.blue-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 33.5em;
  background-color: #007bff; /* Cor azul */
  opacity: 0.5; /* Opacidade para tornar a faixa menos intensa */
  z-index: -1; /* Coloque a faixa atrás do carrossel */
}

.card{
  margin-top: 30%;
}